@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
@keyframes unno {
    0%   {background-color:pink; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:200px;}
    4%  {background-color:blue; left:2px; top:2px;}
    75%  {background-color:green; left:100px; top:500px;}
    100% {background-color:red; left:200px; top:100px;}
  }

#kq{
    position: relative;
width:150px;
  animation-name: example;
  animation-duration: 01s;
  animation-iteration-count: infinite;
}
#kqq{
position: relative;
top: 50%;
left: 50%;
width:150px;
animation-name: unno;
animation-duration: 01s;
animation-iteration-count: infinite;
}

